[2021-03-09 14:32] ArunTeltia opened #116 "Remove dead code"
There are many css classes that are not being used in the project you can find that out and can delete it from the project.

The level of this issue will depend upon the number of lines removed from the css files

Steps
1. Delete the css that is not being used in the project
2. Check if the project has still the same UI

[2021-03-09 14:39] ArunTeltia opened #117 "Refractor the html page"
There are many page which have more than 1 css files integreted
and other than that style is also being added in the html pages as well
Remove the style from the page and add them to one of the css file used in the project,

Same for script just create one new script and put all the code inside the script tag into that file

[2021-03-09 14:41] ArunTeltia opened #118 "Upgrade the model of the bootstrap from 3 to 4"
In this project we are using bootstrap for the models and jquery for opening those models,

The task is to delete the code and refractor it for bootstrap 4 such that the code does not break in the website

[2021-03-09 14:44] ArunTeltia opened #119 "Refractor the scripts"
There are many script that are being reused a lot of times find them out and report them

Reporting the issue will also be level 1 issue resolve

The level of the issue will depend on the difficulty of it

[2021-03-09 14:47] ArunTeltia opened #120 "UI issue within the websites"
If you see any UI issue in the website report it by creating an issue that will be counted as level 1 issue(If its a valid issue)

[2021-03-09 15:00] cryptofox17 commented on #116
Could you assign this issue to me please?

[2021-03-09 15:01] ArunTeltia commented on #116
Yeah @cryptofox17 go for it

[2021-03-10 03:56] Shivam-Shandilya1 commented on #118
Can I work on this Issue as a GSSOC participant?

[2021-03-10 03:57] Shivam-Shandilya1 commented on #117
Can I also work on this issue as Gssoc Participant?

[2021-03-10 05:03] ArunTeltia commented on #117
go for it @Shivam-Shandilya1

[2021-03-10 05:06] LordShenron commented on #117
Marking the assigned issue.

[2021-03-10 05:17] Shivam-Shandilya1 commented on #117
Okay !

[2021-03-10 05:19] ArunTeltia commented on #118
Lets focus on 1 issue at a time @Shivam-Shandilya1

[2021-03-10 10:50] ArunTeltia commented on #116
If there are some unused classes then you can delete it, Just check The Ui dont break after deleting those class ✨

[2021-03-10 12:57] FireQueen-3010 opened #122 "Adding Animations on clicking buttons on navbar."
I want to add Animation effects to the navbar buttons when they are clicked. This will make the user experience even better.

[2021-03-10 12:57] FireQueen-3010 commented on #122
Please assign me this.

[2021-03-10 13:00] FireQueen-3010 opened #123 "Adding contact section on the page."
The website needs a contact section.

[2021-03-10 13:00] FireQueen-3010 commented on #123
Please assign me this.

[2021-03-10 13:05] Tanvir397 commented on #117
Can I work with this issue

[2021-03-10 13:07] Tanvir397 commented on #117
Can I work on this as GSSOC participant

[2021-03-10 13:13] Abhi-1313 commented on #119
please assign me that

[2021-03-10 14:18] LordShenron commented on #117
I am not sure if two participant can work on one single issue @ArunTeltia

[2021-03-10 14:33] ArunTeltia commented on #122
Hmmm Can you give an example on what animation you are thinking of adding @FireQueen-3010

[2021-03-10 14:38] ArunTeltia commented on #117
@Tanvir397 This issue is been assigned to @Shivam-Shandilya1 you can work on #118 if you want to

[2021-03-10 14:39] Tanvir397 commented on #118
Can I work on this project

[2021-03-10 14:43] ArunTeltia commented on #118
Yes You can work on this issue @Tanvir397  I am assigning this issue to you

[2021-03-10 14:44] ArunTeltia commented on #119
Okay @Abhi-1313 Assigning this issue to you as well,

[2021-03-10 17:45] FireQueen-3010 commented on #122
For example: when the button is clicked by a user, the button text gets filled (from one corner to another) with one of the theme colors used in the website (like the ones used in the name Sakura on the homepage).

[2021-03-10 17:59] 24sristi opened #124 "UI design and logos"
I'd like to make the logos for the site and also work on the UI

[2021-03-10 18:12] ArunTeltia commented on #122
Yeah sounds good to me I am assigning this issue to you

[2021-03-10 20:30] yasharth291 opened #126 "Reworking the stat page and adding some important stats too."

[2021-03-11 03:35] FireQueen-3010 commented on #123
Please may I know which level would this be?
Also, it will be great if I am given the contact details of the main admins whose contact details are to be displayed on the contact section. We can get connected on Discord if displaying here in comments seems inappropriate. My discord UserName:  Diksha-3010

[2021-03-11 04:59] tanishq-arya opened #127 "UI Issue: Hover issue"
When you hover over the cards the cursor should change to pointer.
![image](https://user-images.githubusercontent.com/77333275/110738065-a14d6600-8254-11eb-8b75-f08caf2daf7c.png)

[2021-03-11 05:02] tanishq-arya commented on #127
And the images should open in a new tab if we click on them. I would like to work on this issue under GSSOC. Please assign me this if you find it a valid issue.

[2021-03-11 05:22] saumyasrivastava08 commented on #126
Can you explain it more I want to work on this issue.

[2021-03-11 05:45] yasharth291 commented on #126
there is one stat page you have to come with an idea where you can improve the UI and bring some new stat that you can think of

[2021-03-11 05:47] yasharth291 commented on #127
i have assigned you these and hope for an merge request soon

[2021-03-11 05:51] yasharth291 opened #128 "create a better Readme.md file for the project."

[2021-03-11 05:54] LordShenron commented on #126
I feel this is atleast a level 3 issue.

[2021-03-11 05:56] cryptofox17 commented on #128
Could I work on this please?

[2021-03-11 05:59] yasharth291 commented on #128
yeah sure you can work on this make sure you add all the key points and major selling points of the website.

[2021-03-11 06:05] cryptofox17 commented on #128
Ok I will, thank you for assigning me

[2021-03-11 06:19] tanishq-arya commented on #127
![Screenshot (946)_LI](https://user-images.githubusercontent.com/77333275/110744371-95b36c80-825f-11eb-8a8e-ebc5332ea7a2.jpg)
To give a contrast over the dark background I also changed the box shadow color to white. I have opened a pull request for the same.

[2021-03-11 07:02] SainathPoojary opened #130 "UI Issue : Text Sticking Edges"
In Mobile Devices Text Sticks on the edges.

![Screenshot (983)_LI](https://user-images.githubusercontent.com/53347682/110748075-407a5980-8265-11eb-94ad-443616efd724.jpg)

 Hey @yasharth291, I would like to work on this issue under GSSOC. Please assign me this if you find it a valid issue.

[2021-03-11 07:14] yasharth291 commented on #130
It will be solved while doing #120  if you are able to do that i am happy to assign you that

[2021-03-11 07:18] SainathPoojary commented on #130
Yes, I will do it.

[2021-03-11 07:23] yasharth291 commented on #130
sure i am closing this issue and assigning you the #120

[2021-03-11 07:23] #130 closed

[2021-03-11 07:24] yasharth291 commented on #120
I am assigning this issue to @SainathPoojary

[2021-03-11 07:25] yasharth291 commented on #120
please comment on this issue @SainathPoojary

[2021-03-11 07:27] yasharth291 commented on #126
yeah sure thank for changing the level of this issue

[2021-03-11 07:30] SainathPoojary commented on #120
I want to Fix the sticking edge, Please Assign it to me

[2021-03-11 07:37] khareyash05 opened #131 "add contributing.md"
Hi! I would like to add contributing.md to the repo which states on how to clone and fork the repo,how to add ,create and push a repo,squash commits,rebase your feature branch ,how to update forked repo as well as local repo to the changes made in upstream.
I would like to work on this under GSSOC'21.

[2021-03-11 07:49] tanishq-arya commented on #126
I have an idea of keeping the page simple by using a bootstrap theme. Like this maybe.
![image](https://user-images.githubusercontent.com/77333275/110753254-5fc8b500-826c-11eb-8f33-a4391ba7d832.png)

[2021-03-11 08:22] yasharth291 commented on #120
you have to change the whole UI faults and do the work on it please mention the points you are going to change the UI of the project

[2021-03-11 09:37] saumyasrivastava08 commented on #126
@yasharth291 Can i work on this?

[2021-03-11 09:39] yasharth291 commented on #126
you can work but you have to tell which are the extra stats you are going to add in it
@saumyasrivastava08

[2021-03-11 09:39] tanishq-arya commented on #126
Can I work on the design I have provided ?

[2021-03-11 09:41] LordShenron commented on #126
I really like this design.. go ahead.

[2021-03-11 09:45] yasharth291 commented on #126
but we should add some more stats may be @saumyasrivastava08  she can do this. So we can assign this to them both. One for design and one for adding some ideas for other stats

[2021-03-11 09:50] LordShenron commented on #126
The stats are being fetched from sourceforge. They provide total stats, stats for per folder, countries and which operating system was used to download.

Currently all these stats are already there so there is nothing else to do other than redesigning and maybe fixing up the scripts used for fetching stats so they could work more efficiently.

[2021-03-11 09:54] LordShenron commented on #131
@ArunTeltia @yasharth291
I don't think this is needed for us. Close this issue if you agree.. discuss more further it's needed..

[2021-03-11 10:00] ArunTeltia commented on #131
I think it will boost the morale for the contributors tho me and @yasharth291 are thinking of creating a website to showcase the contributors hard work

[2021-03-11 10:14] saumyasrivastava08 commented on #126
I can do the changing in the designing and will add more stats (what you will suggest) can I?

[2021-03-11 10:19] LordShenron commented on #126
You cannot add more stats because the api don't have anything else to be added..

[2021-03-11 10:26] saumyasrivastava08 commented on #126
So I can change the design?

[2021-03-11 10:28] LordShenron commented on #127
@ArunTeltia can close this issue now

[2021-03-11 10:31] #127 closed

[2021-03-11 10:59] LordShenron commented on #126
Try doing that.. For now I am assigning this issue to both of you.

[2021-03-11 12:40] khareyash05 commented on #131
@ArunTeltia shall I go with it?

[2021-03-11 13:21] saumyasrivastava08 commented on #126
Okay I am doing it

[2021-03-11 14:35] FireQueen-3010 commented on #123
Hi, do I add the images in the contact section as well or skip it?

[2021-03-11 15:06] tanishq-arya commented on #126
@saumyasrivastava08 I have created a design and it is complete. Could you look at that ? We both have been assigned the issue so maybe we can take it from there. Check the stats-ui branch in my repository of the project.

[2021-03-11 15:28] ArunTeltia commented on #131
I think for now we should create a contribute.md @khareyash05 assigning this to you

[2021-03-11 15:31] khareyash05 commented on #131
Thank You!
Could you please add a GSSOC label to the issue

[2021-03-11 15:32] FireQueen-3010 commented on #123
Hey, I've made the pull request with the required changes.  I have a tiny doubt, please do clarify it. Adding the contact section counts as a small feature of the page and according to gssoc'21 guidelines, as far as I am concerned it comes under level 2. Do you think, it would be worth increasing the issue's level? Hope you consider this and I will glad whatsoever would be your decision. Thank you

[2021-03-11 16:01] ArunTeltia commented on #128
Closed by #132

[2021-03-11 16:11] #131 closed

[2021-03-11 16:12] #128 closed

[2021-03-11 16:16] LordShenron opened #137 "Redesigning the UI for blog posts"

[2021-03-11 16:40] ArunTeltia commented on #123
Sorry for the delay @FireQueen-3010, I have answered your query on 134 PR you can have a look at it,

[2021-03-11 16:43] FireQueen-3010 commented on #123
Yeah, I've seen it. Thank you again!

[2021-03-11 17:14] cryptofox17 commented on #137
could you please assign this to me?

[2021-03-11 17:16] LordShenron commented on #137
Think you can redesign all of them while preserving the articles?

[2021-03-11 17:31] cryptofox17 commented on #137
I just need to work on the CSS to improve the UI of blog posts right?

[2021-03-11 18:55] yasharth291 commented on #137
yeah mainly that and if you want to add some more of the things you should confirm them with the @LordShenron  and add them

[2021-03-11 19:06] cryptofox17 commented on #137
Ok then I can do that. Please assign me this issue

[2021-03-11 19:08] yasharth291 commented on #137
carry on it is assigned to you

[2021-03-12 16:24] ArunTeltia opened #139 "Redesigning of the screenshot section on the Home Page"

[2021-03-12 16:25] DevrajDC commented on #139
Hey

[2021-03-13 03:30] Shivam-Shandilya1 commented on #117
I had made two pull request. Please preview it and help me to improve my work experience.

[2021-03-13 06:04] DevrajDC commented on #139
#141 Merge this pull request. I have added carousel to screenshots section as discussed with @ArunTeltia

[2021-03-13 12:22] LordShenron commented on #139
Good to be closed.

[2021-03-13 12:22] #139 closed

[2021-03-13 13:18] LordShenron commented on #126
This issue is completed for now.
Refer to this commit for changes: https://github.com/ProjectSakura/ProjectSakura.github.io/commit/0a712d9f4fd25d92dc6ab29c52f0770ac979da5d

Closing it now.

[2021-03-13 13:18] #126 closed

[2021-03-13 15:08] #123 closed

[2021-03-13 20:09] ArunTeltia commented on #122
@FireQueen-3010 Are you working on this if yes can you check the ui theme we just added on readme.md so that you can get an idea on how we want button to look like

[2021-03-14 01:28] FireQueen-3010 commented on #122
Okay

[2021-03-14 02:08] gaulghost commented on #118
Is this issue completed?

[2021-03-14 05:27] FireQueen-3010 opened #147 "Changing buttons on all pages except navbar with dedicated animations and forming uniformity with respect to UI design provided in the readme file."
The buttons on the homepage need uniformity in accordance with the UI theme provided in the readme file. It needs dedicated animations as well to make it feel better.

[2021-03-14 05:27] FireQueen-3010 commented on #147
Please assign me this.

[2021-03-14 08:38] #137 closed

[2021-03-14 09:13] ArunTeltia commented on #118
I dont think @Tanvir397 is working on this issue, @gaulghost want to work on this ?

[2021-03-14 12:31] ArunTeltia commented on #147
Done @FireQueen-3010  :)

[2021-03-14 12:36] gaulghost commented on #118
@ArunTeltia Yes, I wish to work on this issue

[2021-03-14 13:00] ArunTeltia commented on #118
This is level 4 that means there are alot of files that need to be changed so it will need to create 4-5 sub issues for solving this issue, If you need any help you can ping me on discord
@gaulghost go for it 🙌

[2021-03-14 13:06] dcs-soni opened #148 "UI Feature : Redesign navbar on all pages."
Hii,

Adding underlines to the navbar menus while hovering gives the website a pure look and the page looks decent with the underline animations. If you like this idea please assign this feature request to me under **GSSoC'21**.

Below is the screenshot of my idea. Any suggestions to change the color or any modifications are appreciated.

https://user-images.githubusercontent.com/52232900/11106966

[2021-03-14 13:28] ArunTeltia opened #149 "Redesigning navbar in stats and home page to the home page navbar"

[2021-03-14 13:29] ArunTeltia commented on #148
Not gonna lie it is looking cool but we are thinking of migrating the whole website to a theme based ui to make it aesthetically pleasing for users to surf on(You can have a look at the Ui theme in the readme )

And @FireQueen-3010 is already working on changing the color theme
here is the PR she requested #146
If you want to work on something, can you work on the download page and stats page
We w

[2021-03-14 13:35] LordShenron commented on #148
I think we should merge both issues here.

[2021-03-14 13:38] dcs-soni commented on #149
As suggested by you in #148 I want to work on this issue.

[2021-03-14 14:39] gaulghost commented on #118
@ArunTeltia Yeah sure, will ping you on discord if i face problem.

[2021-03-14 14:56] ArunTeltia commented on #149
Great @dcs-soni assigning you this issue 🎉

[2021-03-14 14:58] ArunTeltia commented on #148
The issue is only redesigning the button, I guess Lets wait for @FireQueen-3010 Pull request to merge we will then came back to this issue

[2021-03-14 15:02] LordShenron commented on #149
You really don't need to create new issues for doing the same thing. There is literally a button on github to edit topics ;____;

[2021-03-14 15:03] ArunTeltia commented on #149
Yeah this is the issue to create the navbar in download and stats page

[2021-03-14 15:05] LordShenron commented on #149
I am closing it.

[2021-03-14 15:05] #149 closed

[2021-03-14 15:06] LordShenron commented on #148
Now, its so much better @ArunTeltia

[2021-03-14 15:06] FireQueen-3010 commented on #147
Thank you!

[2021-03-14 15:09] ArunTeltia commented on #148
AHA YES

[2021-03-14 15:40] dcs-soni commented on #148
So basically the navbar on the home page looks perfectly fine? And we want the same navbar in the Stats page that is present on the Blog page (but with similar design as that of Home page)?

Correct me if I am wrong or please throw some ideas.

[2021-03-14 15:46] LordShenron commented on #148
Yes the navbar preview you showed in the video looks perfectly good and you can go ahead to do the same on download page and blog page. There is no navbar on stats and it don't need one.

[2021-03-14 15:55] dcs-soni commented on #148
Cool! Thank you.

[2021-03-14 21:14] ArunTeltia opened #150 "Remove Logs from the console in website"

[2021-03-15 08:12] cryptofox17 commented on #150
I'm assuming it means to remove all the console.log() statements from the files. If that's what you mean, then I can do that. Please assign this issue to me

[2021-03-15 09:09] NehaK745 commented on #150
@ArunTeltia can you assign this issue to me?

[2021-03-15 09:56] ArunTeltia commented on #150
Yes @cryptofox17 I am assigning this to you as you commented first,
Sorry @NehaK745, but if you want an issue I can assign you another one

[2021-03-15 12:11] FireQueen-3010 opened #153 "Errors on the css files."
There a couple of errors in the css files. Fixing them will improve the workflow of all their functionality.

[2021-03-15 12:11] FireQueen-3010 commented on #153
please assign me this under gssoc'21

[2021-03-15 13:08] ArunTeltia commented on #153
closed by #154

[2021-03-15 13:08] #153 closed

[2021-03-15 17:47] FireQueen-3010 opened #155 "Refactoring buttons on downloads page."
Refactoring buttons on downloads page following the UI present in the readme file.

[2021-03-15 17:47] FireQueen-3010 commented on #155
please assign me this under gssoc'21

[2021-03-15 17:49] ArunTeltia commented on #155
Done :)

[2021-03-15 17:49] FireQueen-3010 commented on #155
thanks !

[2021-03-16 11:39] #122 closed

[2021-03-16 12:06] FireQueen-3010 opened #157 "Refactoring buttons on the Blog Page."
Refactoring buttons on blog page following the UI present in the readme file.

[2021-03-16 12:06] FireQueen-3010 commented on #157
Please assign me this as part of gssoc'21

[2021-03-16 13:36] LordShenron opened #158 "Redesiging the modal on download page"
The current modal that appears on clicking on changelog button is not very good.

[2021-03-16 13:44] #155 closed

[2021-03-16 14:45] rhythmjayee commented on #157
sure

[2021-03-16 14:55] FireQueen-3010 commented on #158
I can do this, please assign me this.

[2021-03-16 15:44] FireQueen-3010 commented on #157
Ok tnx :)

[2021-03-16 17:23] FireQueen-3010 opened #160 "Refactoring buttons on homepage."
The buttons on the homepage require refactoring adhering to the UI guidelines in readme file.

[2021-03-16 17:23] FireQueen-3010 commented on #160
Please assign me this under gssoc'21.

[2021-03-16 18:59] yasharth291 opened #161 "[Bug] Hovering the mouse over blog page heading doesn't work on every heading"
I was trying to hover over the headings but the behavior of every heading was different from one another.

[2021-03-16 21:03] garvitgupta13 opened #164 "Change the heading color in blogs page"
Currently, the heading is almost not visible on the blogs page.
Should change the colour of heading to white to make it readable
![image](https://user-images.githubusercontent.com/70805691/111379349-0a0b6700-86c9-11eb-8b7d-c304b747b6ec.png)

[2021-03-16 21:03] garvitgupta13 commented on #164
Please assign it to me under gssoc21

[2021-03-17 01:40] ArunTeltia commented on #164
I guess someone had done something wrong @LordShenron have a look at it,
For now this is absolute valid issue and It must have high priority to be resolved,
@garvitgupta13 If you want this issue I can give it to you but please word on this fast, otherwise i need to work on this

I am assigning this issue to you

[2021-03-17 01:42] ArunTeltia commented on #158
@LordShenron Level 4 issue is not a valid issue according to gssoc level3 is the biggest issue, i am changing the name of level4 to urgent

[2021-03-17 01:52] ArunTeltia commented on #161
Which Browser you are using @yasharth291, working fine for windows10 and microsoft edge

[2021-03-17 01:53] ArunTeltia commented on #119
Any movement here @Abhi-1313 if not, @cryptofox17 want to work on this

[2021-03-17 03:27] LordShenron commented on #164
Oopsies happen all the time

[2021-03-17 03:29] LordShenron commented on #158
Lmao brah.. very nice and quick of you after tagging so many lvl 4

[2021-03-17 03:55] ArunTeltia opened #166 "Test Issue"
### Evidence / Screenshot (if possible)
Test Issue

### Details
This is a test issue

[2021-03-17 04:02] #166 closed

[2021-03-17 04:02] ArunTeltia opened #168 "Another test"
Test

[2021-03-17 04:03] #168 closed

[2021-03-17 04:18] #164 closed

[2021-03-17 05:26] yasharth291 commented on #161
Chrome

[2021-03-17 05:56] #120 closed

[2021-03-17 08:23] #148 closed

[2021-03-17 09:41] dcs-soni commented on #161
I checked in Chrome and it's working fine. Exactly on which heading you saw that issue?

[2021-03-17 09:54] dcs-soni opened #171 "Website fails many validation checks and generates many errors"
The HTML code in the website is broken at some points and due to which it does not pass validation checks. Some errors need to be looked at while other small errors can be ignored for some time.

Below is the screenshot of the type of errors that I can resolve. I'll try to remove almost all the errors but the warnings are also generated that too in a big chunk. Need ample time to solve those.
![im

[2021-03-17 09:55] dcs-soni commented on #171
Please assign this to me and please add the required labels too.

[2021-03-17 10:07] cryptofox17 commented on #150
@ArunTeltia do you mean removing even the console.log(e) statements?

[2021-03-17 13:52] ArunTeltia commented on #171
Yes these are valid issues i am assigning it to you @dcs-soni

[2021-03-17 13:53] ArunTeltia commented on #161
Me too I checked it and its working fine can you share screenshot

[2021-03-17 13:54] ArunTeltia commented on #158
I changed @LordShenron every single one of them 😂

[2021-03-17 14:02] FireQueen-3010 commented on #158
I admit that I was initially overjoyed looking at the level 4 tag.😛. Besides, thanks for assigning me this ! @ArunTeltia @LordShenron @rhythmjayee :)

[2021-03-17 14:04] LordShenron commented on #158
Thanks my slave :P

I was more excited giving out level 4 issues xD

[2021-03-17 14:06] #150 closed

[2021-03-17 14:12] tanishq-arya opened #173 "UI : Adding a navbar to the stats page"
### Describe the problem that you'd like solved
Adding navbar to the Stats UI page

### Proposal & Constraints

### Additional context

[2021-03-17 14:45] ArunTeltia commented on #173
Yes Definitely we need it
Points to be noted: Add a navbar that is present in the homepage.
If you want to work, I can assign it to you

[2021-03-17 14:46] ArunTeltia opened #174 "> I changed @LordShenron every single one of them joy"
Thanks my slave :P

I don't condone this behavior 😂 🤦‍♀️

[2021-03-17 14:47] #174 closed

[2021-03-17 14:47] ArunTeltia commented on #158
Thanks my slave :P

I don't condone this behavior 😂 🤦‍♀️

[2021-03-17 14:51] rajeshpanjiyar opened #175 "update readme contributors to show contributors profile image in readme itself"
I want to add the **contributor's** section in the readme file. It is one of the best parts of every readme.
- I am a *participant* in **GSSoC'21**
- I would like to be assigned and start working.

[2021-03-17 14:59] ArunTeltia commented on #175
Actually we are thinking of creating a separate page in our website for all the esteemed contributors, If you want to work on creating that you can get this issue, and please be careful with the issue type its not a bug its more of a questions :)

[2021-03-17 16:08] tanishq-arya commented on #173
Yes I am interested. One question. Should I match the theme or not ?

[2021-03-17 17:24] ArunTeltia commented on #173
Just check the homepage navbar jou have to make a navbar look like that

[2021-03-17 19:57] #175 closed

[2021-03-17 20:09] yasharth291 commented on #161
yeah i will share video

[2021-03-18 04:43] tanishq-arya commented on #173
Okay

[2021-03-18 06:34] cryptofox17 opened #177 "Changing the font and color in stats page"
### Describe the problem that you'd like solved

Not a major problem but the stats page has a completely different color scheme from the rest of the website. It uses a light theme whereas every other page uses a consistent dark background. Even the font family used isn't Poppins which is the recommended one in the style guide.

### Proposal & Constraints

I want to work and make the page look a bi

[2021-03-18 13:04] ArunTeltia commented on #177
@LordShenron should we add a switch button for switching css from dark to white

[2021-03-18 13:06] ArunTeltia commented on #177
Assigning you definitely need a dark theme, Let me know if you stuck somewhere

[2021-03-18 14:29] LordShenron commented on #177
totally yes!

[2021-03-18 18:07] #157 closed

[2021-03-19 03:56] #177 closed

[2021-03-19 08:13] kanishkaa24 commented on #173
Hello! Can i work on this ?

[2021-03-19 08:13] kanishkaa24 commented on #124
Hello! Can i work on this ?

[2021-03-19 08:14] kanishkaa24 commented on #116
Hello! Can i work on this ?

[2021-03-19 08:16] DevrajDC commented on #124
We are already working on it.

[2021-03-19 08:47] ArunTeltia commented on #173
Lets wait for 6 hours ,@tanishq-arya are you working on this ?
If you want to work on a issue @kanishkaa24 do you want to work on the contributors page
@LordShenron Its time we should add a contributors page what you think ?

 Ping me on discord if you want to work on something @kanishkaa24 , will assign you a good first issue

[2021-03-19 08:49] DevrajDC opened #179 "Redesigning Navbar on Homepage and Fixing Issues caused by previous Navbar"
Navbar needs to be fixed since it is affecting the webpage width. I will redesign the whole Navbar with respect to our theme and add smooth animations. Also the user experience would increase in the New design.

Image of the issue caused by previous navbar:
![image](https://user-images.githubusercontent.com/65373279/111754060-91213080-88bd-11eb-8390-36b6e3cc66ef.png)

[2021-03-19 08:51] ArunTeltia commented on #179
For now we will hold on the navbar issues, @LordShenron He will be designing the navbar for all the pages,

[2021-03-19 08:52] kanishkaa24 commented on #173
Would love to work on the contributors page.

[2021-03-19 08:52] ArunTeltia commented on #161
Any updates @yasharth291 ?

[2021-03-19 09:22] LordShenron commented on #179
I was going to open an issue about this xD..

[2021-03-19 09:26] ArunTeltia commented on #179
🤣🤣sure

[2021-03-19 10:00] ArunTeltia commented on #171
@dcs-soni are you working on this if yes, I will suggest you to create smaller PRs, because eventually this is a big issue

[2021-03-19 10:01] ArunTeltia commented on #116
Yeah Sure Find the css which are not being used within the site ,delete it and create a PR

[2021-03-19 10:02] dcs-soni commented on #171
Yep. Working on it. Smaller PRs as in which sense? Less number of PRs?

[2021-03-19 10:30] ArunTeltia commented on #171
Means high amount of pr with less line of code change such that it is easy to review

[2021-03-19 11:48] dcs-soni commented on #171
Sure. Will take care of it.

[2021-03-19 12:11] tanishq-arya commented on #173
@AdityaTeltia not right now, something came up. You can assign to someone else if you want.

[2021-03-19 12:14] AdityaTeltia commented on #173
Why you tagged me ?

[2021-03-19 12:15] ArunTeltia commented on #173
Okay @DevrajDC, Is working on the whole navbar, Assigning this issue to you devraj, and you accidentally tagged my brother HAHA

[2021-03-19 12:28] DevrajDC commented on #173
Assign this issue to me🤟
I am working on navbar

[2021-03-19 13:32] kanishkaa24 opened #180 "Remove Internal CSS"
In this issue, I will remove the internal CSS and add it to the CSS files. Please assign this under GSSOC.

[2021-03-19 13:34] kanishkaa24 opened #181 "Order CSS in alphabetical order"
In this issue, I'll be alphabetically ordering CSS elements. Please assign under GSSOC.

[2021-03-19 16:55] cryptofox17 opened #183 "Updating the screenshots section in readme"
### Describe the problem that you'd like solved

Since there has been a lot of UI changes in the website, the screenshots in the readme file (stats, blogs) are irrelevant.

### Proposal & Constraints

They could be updated by adding new screenshots, but adding a gif might be a better option as that would occupy lesser space and can include every page.

### Additional context

Please assign this is

[2021-03-19 17:08] FireQueen-3010 opened #185 "Create a sign up form for new users ."
### Describe the problem that you'd like solved
A sign up form for new users who are interested in the project might be good to send them updates or newsletters.

### Proposal & Constraints
Creating a sign up form and displaying the option in the nav bar of home page.

On clicking the button, a pop-up should appear for the user to fill in details and these details should be stored in a database (l

[2021-03-19 17:09] FireQueen-3010 commented on #185
Please assign me this as part of gssoc'21

[2021-03-19 17:23] ArunTeltia commented on #185
It will require a backend and a server and not gonna lie there are no use for sign ups in the project, If you have anything in mind that can attract audience will love to hear about that,
For now i dont think we might need this, what's your thought @LordShenron

[2021-03-19 17:24] ArunTeltia commented on #183
Yeah Go for it @cryptofox17

[2021-03-19 17:24] ArunTeltia commented on #181
Yeah Assigning you the issue @kanishkaa24

[2021-03-19 17:27] ArunTeltia commented on #180
Sub Part of #116 go for it tagging the parent issue for some clear understanding @kanishkaa24

[2021-03-20 04:15] LordShenron commented on #185
It's invalid for us.. So, closing it.

[2021-03-20 04:15] #185 closed

[2021-03-20 04:17] #158 closed

[2021-03-20 04:18] #160 closed

[2021-03-20 13:41] #183 closed

[2021-03-20 13:45] #171 closed

[2021-03-21 05:22] #147 closed

[2021-03-23 18:19] cryptofox17 opened #195 "Adding some changes in the download.html page"
### Describe the problem that you'd like solved

Making some enhancements to downloads page

### Proposal & Constraints

 - Add padding to the modal, the text currently sticks to the border of the modal.
 - Change the modal text font to Poppins as per the style guide
- Making the search input field left aligned
- The close btn looks fine on desktop and large screen but looks squished on mobile scr

[2021-03-24 06:38] ArunTeltia commented on #195
Looks good to me @cryptofox17 🙌, Assigning You the issue

[2021-03-24 09:55] tanishq-arya commented on #173
Sorry for the inconvenience. Did it by mistake.

[2021-03-24 15:43] #195 closed

[2021-03-26 12:35] gaulghost opened #197 "UI: Redesigning the footer on Stats page"
I would like to re-design the footer of the stats html page.

[2021-03-27 05:08] FireQueen-3010 opened #198 "Adding footer hover effects in all pages."
The footer links don't have any hover or click effects.

[2021-03-27 05:08] FireQueen-3010 commented on #198
Please assign me this under gssoc'21

[2021-03-27 06:32] gaulghost commented on #173
Can I work on this also? @ArunTeltia

[2021-03-28 15:55] ArunTeltia commented on #198
Is this footer for the home page ?

[2021-03-28 16:29] FireQueen-3010 commented on #198
For both home page and downloads pages, do I make separate prs for both? @ArunTeltia

[2021-03-28 18:47] arpit456jain opened #199 "Move to top button"
I am always frustrated when I have to scroll the page back to top every time.
There should be a back to top button with smooth scrolling.

### Proposal & Constraints

I can try to add this feature.

### Additional context

[2021-03-28 19:02] arpit456jain opened #200 "Light Mode with Toggle button"
I want to add light mode to it with a toggle button so user can choose theme  according to its choice.
I am a Gssoc'21 participant Kindly assign it to me.

[2021-03-28 20:52] ArunTeltia commented on #199
Go for it @arpit456jain please follow the ui theme in readme tho

[2021-03-29 08:19] arpit456jain commented on #199
ok @ArunTeltia ca you please assign it to me.

[2021-03-29 08:37] arpit456jain commented on #199
@ArunTeltia kindly assign it to me and review my PR.
And I am a Gssoc'21 participant so please add label of gssoc on PR

[2021-03-29 10:41] ArunTeltia commented on #200
In which page you want to make a light theme ?

[2021-03-29 11:23] padmajabhol opened #202 "Add hover effects to Contact Us cards."
### Question

### Additional context

[2021-03-29 11:26] ArunTeltia commented on #202
Can you please elaborate the issue

[2021-03-29 11:31] padmajabhol commented on #202
![Screenshot (84)](https://user-images.githubusercontent.com/75530516/112830591-62227000-90b0-11eb-983a-a5eed054e051.png)
I want to change the hover effect in this particular section.

[2021-03-29 12:40] arpit456jain commented on #200
@ArunTeltia in project's main page. If you like i will add it to others also .
@ArunTeltia but firstly kindly assign me this issue and issue. #199

You allowed me to work on that issue and i had created a PR but i am not assigned please assign me before merging

[2021-03-29 13:39] ArunTeltia commented on #202
okay go for it @padmajabhol

[2021-03-29 13:45] ArunTeltia commented on #200
Assigned that issue to you @arpit456jain , yes we can switch to light theme but there is no need for it, @LordShenron  whats your thought on this, according to me this is not important for us right now

@arpit456jain If you want to work on something you can message me on discord or here and we will figure out one of the frontend project you can exclusively work on

[2021-03-29 13:59] arpit456jain commented on #200
Ok @ArunTeltia   sure.

[2021-03-30 05:09] LordShenron commented on #200
Invalid.

[2021-03-30 05:09] #200 closed

[2021-03-30 05:10] #199 closed

[2021-03-30 07:12] ArunTeltia opened #205 "Download Page Unsupported Details"
Hello All the contributors,

So we are working on download page and we are trying to make the current download page unsupported, it does not mean the page will disappear it simply means we are trying to make a new download page from the scratch. So we are currently not accepting any issues and PR's related to download page, If you want to contribute and stuck somewhere message me in this thread or

[2021-03-30 07:21] ArunTeltia opened #206 "Rewriting the contributing.md and explain the download page is unsupported"
As per the #205 if someone want to update the contributing.md he/she can work on it, Just explain why the download page is no longer expecting any issue and pr in this repo

[2021-03-30 09:44] tanishq-arya commented on #206
#207

[2021-03-30 10:21] #206 closed

[2021-03-30 12:10] cryptofox17 commented on #205
I'd like to work any frontend related issue here. As of now I can't find any issues with the website but if you have any please let me know

[2021-03-30 12:20] ArunTeltia commented on #205
@cryptofox17 messaged you on discord

[2021-03-30 12:22] tanishq-arya opened #208 "Validate HTML"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/77333275/112987597-86e61880-9180-11eb-9138-c082ae2cd7d7.png)

### Steps to Reproduce

1. check here https://validator.w3.org/nu/?doc=https%3A%2F%2Fprojectsakura.xyz%2F

* Actual:
* Expected:

### Details

- **Browser type/version?**
- **Operating system?**

### Proposal & Constraints

### Related files

[2021-03-30 13:13] tanishq-arya commented on #205
+1

[2021-03-30 14:51] ArunTeltia commented on #197
Assigned @gaulghost

[2021-03-30 15:44] FireQueen-3010 commented on #205
+1

[2021-03-30 16:40] LordShenron commented on #205
Wew

[2021-03-31 09:25] ArunTeltia commented on #208
Definately one of the most important thing for the SEO point of view adding some tags to show the importance of the issue, Thankyou for creating this issue @tanishq-arya , assigning the issue to you if thats okay with you

[2021-03-31 09:27] ArunTeltia commented on #205
@FireQueen-3010 Lets focus on wiki-redesign you are doing amazing work there 🙌

[2021-03-31 09:32] ArunTeltia commented on #208
@cryptofox17 @FireQueen-3010 want to work on it along with @tanishq-arya this is something that is really important and its really time consuming to do you can assign different page for the HTML validations

[2021-03-31 09:35] tanishq-arya commented on #208
I was thinking of starting from the index.html page.

[2021-03-31 09:39] cryptofox17 commented on #208
@ArunTeltia ok, then I could work on stats.html page, if that's ok with with @tanishq-arya

[2021-03-31 10:02] ArunTeltia commented on #208
@cryptofox17 go for stats and blog page

[2021-03-31 10:47] tanishq-arya commented on #208
Can I make a new class for the center tag removal ? I am thinking of display flex and centering it.

[2021-03-31 11:24] ArunTeltia commented on #208
If you think that will be a wise choice do it will figure some best practice once you create a pull request
for now go for it

[2021-03-31 12:11] FireQueen-3010 commented on #205
Yeah okay :)

[2021-03-31 12:23] #198 closed

[2021-03-31 12:46] FireQueen-3010 commented on #208
I would like to work on the blog page if thats okay

[2021-04-01 18:14] rhythmjayee commented on #208
i reopened it beause it has still work to do

[2021-04-04 19:25] Kavs-123 commented on #180
Hey @ArunTeltia, can I work on this issue?
If it is not solved by @kanishkaa24 ??

[2021-04-04 20:05] ArunTeltia commented on #180
Yes Go for it @Kavs-123 I talked to her she is having health issues you can work on it🎉

[2021-04-04 20:09] vedikaag99 commented on #181
@ArunTeltia can I take up this issue if it's open to grab? I'm a GSSOC participant.

[2021-04-04 20:23] ArunTeltia commented on #181
This is complex @vedikaag99 because our website is a mess, if you want to work on it i would be more than happy to assign you this
Let me know if you get stuck somewhere
Assigning you

[2021-04-05 05:53] Avishake007 opened #214 "Adding Hover effect for the cards in get sakura! section"
I want to add hovering effect for the cards in get sakura! section
please assign me for this task under gssoc'21

[2021-04-05 07:06] ArunTeltia commented on #214
I dont know whether it will look great or not,
@LordShenron should he work on it

[2021-04-05 07:49] LordShenron commented on #214
We need to rework the guidelines

[2021-04-05 07:57] ArunTeltia commented on #208
https://validator.w3.org/nu/?doc=https%3A%2F%2Fprojectsakura.xyz%2F
@tanishq-arya wanna look at this as well

[2021-04-05 07:59] ArunTeltia commented on #214
Please work on it @LordShenron

[2021-04-05 08:03] Kavs-123 commented on #180
Ohk @ArunTeltia Thank you !!

[2021-04-05 08:13] ArunTeltia commented on #180
Please let me know if you understand the concept of this issue @Kavs-123

[2021-04-05 09:17] Kavs-123 commented on #180
Sure sure I will!

[2021-04-05 09:42] tanishq-arya commented on #208
I was about to talk to you about this. I tried changing the h1 headings to h2 then the heading styles change. So how should I proceed with this ?

[2021-04-05 10:47] ArunTeltia commented on #208
Okay these are not the SEO Level issues @tanishq-arya lets just leave this for the time being we will work on it later

[2021-04-05 14:55] cryptofox17 opened #215 "Alignment Issue in Navbar"
The alignment in the navbar is not proper. And the on certain widths there's padding on the body which pushes the navbar to slightly below where its supposed to be.

### Steps to Reproduce
- fix the alignment of the list items and move to the left
- remove the padding

[2021-04-05 16:34] #215 closed

[2021-04-06 07:39] Preeti2095 commented on #119
i want to work on this issue.

[2021-04-06 09:44] ArunTeltia commented on #119
If you want to work on it @Preeti2095 go for it assigning the issue, let me know if you have any problems proceeding further
all the best

[2021-04-06 10:00] Preeti2095 commented on #119
Thank you @ArunTeltia. Can you elaborate where to look for the scripts , and how to make a report like in doc or something else?

[2021-04-06 10:20] #197 closed

[2021-04-06 10:35] ArunTeltia commented on #119
They are in the js folder @Preeti2095 create a documentation for each script on what the script is doing there are also many script that are bieng used several times so for those script we need to DRY them

[2021-04-06 10:36] ArunTeltia commented on #119
If you still have doubts ping me on discord will try to resolve your issues
All the best

[2021-04-06 12:01] cryptofox17 opened #218 "Changing the theme of downlpad page"
### Describe the problem that you'd like solved
Changing the existing color theme of download page

### Proposal & Constraints
- use the colors and theme used in stats page
- improve the footer

[2021-04-06 12:07] #218 closed

[2021-04-06 12:14] Preeti2095 commented on #119
Ok @ArunTeltia.

[2021-04-06 20:34] #181 closed

[2021-04-06 22:34] N-Shar-ma opened #222 "Adding transitions to sudden hover effects on buttons"
## Problem
All the links in the navbar have a hover state but it appears immediately and not gradually which looks slightly jarring. The buttons in get Sakura and Contact Us sections also have the same issue where they have instant hover effects instead of transitioning slowly to them

## Proposed Solution
- I'd like to add a transition to all these buttons for better UX. After experimenting, in t

[2021-04-07 08:04] RahulBansal0502 opened #224 "Align Navbar"
Navbar alignment is not perfect it must be in right then it will look good. Also, I want to add a home option in Navbar as it is weird to click on the logo icon for home. I want to work on this issue as a GSSOC participant, please assign it to me @ArunTeltia

[2021-04-07 08:32] RahulBansal0502 commented on #116
@rhythmjayee @ArunTeltia I want to work on this issue please assign it to me. I am a GSSOC2021 participant.

[2021-04-07 09:13] RahulBansal0502 opened #225 "Revamp Contact us page"
I want to revamp the contact us page like the below image:
![image](https://user-images.githubusercontent.com/56486309/113841854-c7ace580-97af-11eb-937d-9ee8954baad0.png)

If there is any issue in this regarding color we can make the required changes for that purpose. If you like my proposal please assign it to me. I am a GSSOC participant. @ArunTeltia @rhythmjayee @yasharth291

[2021-04-07 11:09] ArunTeltia commented on #225
Really looks good but we don't need a contact form
And contact form would eventually need a lambda function to store data in the database , and right now we cant afford a backend

So thank you for your hard work in this , but sorry we can't add this to our page

Let me know if you need some issue to work on we will work something out 🙌

[2021-04-07 11:10] ArunTeltia commented on #116
Yes go for it let me know if you have any problems

[2021-04-07 11:12] ArunTeltia commented on #224
Yup definitely need to work on it go for it @RahulBansal0502
Let me know if you get blocked somewhere or need help

[2021-04-07 11:49] RahulBansal0502 commented on #225
Actually we can make contact form using formspree. So in this case we do not require any backend. Benifits of formspree:
1. No backend required
2. Easy to connect
3. If someone has filled the form query send to the owner via mail.

[2021-04-07 11:50] RahulBansal0502 commented on #116
Ok fine

[2021-04-07 11:51] RahulBansal0502 commented on #224
Thanks I will let you know.

[2021-04-07 13:15] ArunTeltia commented on #225
What are you going to use for mail service? MailChimp?

@LordShenron do we need it ? I dont think we need it

[2021-04-07 13:17] RahulBansal0502 commented on #225
Formspree https://formspree.io/

[2021-04-07 13:20] ArunTeltia commented on #225
Message me @ discord @RahulBansal0502, will tell you the problem related to it
Never the less this looks really nyc,

Here my discord ArunTeltia#4154

[2021-04-07 14:37] LordShenron commented on #225
Gonna sound harsh but we seriously don't need a contact form of any kind.

[2021-04-07 14:37] #225 closed

[2021-04-07 16:42] #119 closed

[2021-04-07 19:44] ArunTeltia commented on #222
Sounds Good To me,
@LordShenron should we accept this issue

[2021-04-08 06:02] LordShenron commented on #222
Looks good..  just don't do it on download page.

[2021-04-08 14:35] smriti1313 opened #230 "Footbar of stats page"
Firstly, project sakura is just kawaiiiii :)

After checking your website and the linked pages I did find that the footer of sakura blog and sakura stats are different. Ain't wanna open an issue just for the sake to create an issue but i guess since this project is so cool there has to be some uniformity in it.

### Describe the problem that you'd like solved
I would like to alter the footer of sa

[2021-04-08 14:44] ArunTeltia commented on #230
Thank You @smriti1313 for the king words, we know this is a defect in the website(This is affecting the Ui by a lot )
The thing about the footer is we are focusing on deleting the download.html(basically we will redirect all the traffic from that page to https://projectsakura.xyz/download )
SO changing anything in the download page would eventually be something that will not be there after 15-20 d

[2021-04-08 14:49] ArunTeltia commented on #230
![uyfuiuypi](https://user-images.githubusercontent.com/43555219/114047721-87309300-98a7-11eb-9ce8-d70c8804f3cb.PNG)
here is the footer that can be used in the stats page
also this Pr will be merged after the navbar is created by tanishq(he is currently working on the navbar for stats page)

[2021-04-08 14:58] #222 closed

[2021-04-08 15:27] Ankit0225 opened #231 "Improvement In Download Stats Page"
### Describe the problem that you'd like solved

## Include Correct Percentage and removing Decimal
![wrong](https://user-images.githubusercontent.com/73462619/114053866-f3fa5c00-98ac-11eb-91d8-627adb28ad5d.png)

[2021-04-08 15:28] Ankit0225 commented on #231
Hey I would Like to work on this issue please assign it to me I am a GSSoC participant

[2021-04-08 15:49] smriti1313 commented on #230
Yeah. i would def like to work on this☀️🙌🏽

[2021-04-08 15:50] smriti1313 commented on #230
Do you have any idea regarding how long will it take?

[2021-04-08 16:40] ArunTeltia commented on #230
It actually depends on you @smriti1313 its fairly easy tho If you have any issues then let me know we can work on it

[2021-04-08 17:05] yasharth291 commented on #231
go ahead @Ankit0225

[2021-04-08 17:07] #161 closed

[2021-04-08 17:22] smriti1313 commented on #230
No. I actually meant that how long will it take for tanishq to do? Because I guess that i will only be able to start my work after he's done.

[2021-04-08 18:01] ArunTeltia commented on #230
Oho dont worry about it @smriti1313 this PR will eventually get merged for now work on this PR, He will be resolving the issue by 2 days i think, if he dont get blocked by something

[2021-04-08 18:32] ArunTeltia commented on #231
I dont think removing decimal is something we want, and why do you think the percentage is wrong @Ankit0225

[2021-04-08 18:34] Ankit0225 commented on #231
It looks awkward sometimes round off better I am doing 19.5% not 19% better than three-digit decimal hope u understand

[2021-04-08 18:40] ArunTeltia commented on #231
Maybe it is awkward @Ankit0225, but there are devices that only have 39 total download and its percentage is less than 0.05%
rounding that to 0 would be really bad I think, If you want an other issue we can work on some of the genuine issue in the website

Let me know if you want to work on some issue🎉

[2021-04-08 18:42] Ankit0225 commented on #231
@ArunTeltia Yes I want to work on some Genuine issue

[2021-04-08 18:44] ArunTeltia commented on #231
Okay right now i have been commenting via mobile will tell you some issue @Ankit0225 by tomorrow

[2021-04-08 18:46] Ankit0225 commented on #231
@ArunTeltia Should I continue to work on this issue Or should I leave because It is the first issue If you don't like the code I have edited you can reject

[2021-04-08 18:47] ArunTeltia commented on #231
There is no need to work on this issue as this is not an issue on the first place sorry about that😅
will tell you some issue by tomorrow to work on it would be great if you can tell me your skills
so that i can assign you an issue

[2021-04-08 18:48] Ankit0225 commented on #231
@ArunTeltia ok

[2021-04-08 18:48] Ankit0225 commented on #231
I am deleting this issue

[2021-04-08 18:48] ArunTeltia commented on #231
yes close it

[2021-04-08 18:49] #231 closed

[2021-04-09 12:00] vibhanshujainiiitr opened #233 "Bootstrapmade backlinks"
When I was going through the complete code of the website, I found the backlinks of the BOOTSTRAPMADE which are still active.
And the most horrible part is the footer credit is removed.

This is highly dangerous, as the official authorities can anytime take legal action against this.
Please provide the proper credit in the footer again, or the alternate and safer option is to remove all the backli

[2021-04-09 12:31] ArunTeltia commented on #233
wanna work on it ? @vibhanshujainiiitr

[2021-04-09 12:52] vibhanshujainiiitr commented on #233
Yes, I can do that.

[2021-04-09 12:58] vibhanshujainiiitr commented on #233
I updated that.

[2021-04-09 14:12] RahulBansal0502 opened #236 "Revamp footer"
I want to revamp the footer of this website like the below image:
![image](https://user-images.githubusercontent.com/56486309/114192799-85c89e80-996b-11eb-8783-0cba02c1946f.png)
This is not an actual image required CSS will be applied to it like the black background but links will be available in the footer.
I am a GSSOC participant assign it to me @ArunTeltia @yasharth291

[2021-04-11 14:41] satcasm opened #238 "Height of navbar"
In smaller screens the height of the navbar seems a bit more that required.
Would like to reduce it under GSSOC' 21.
Please assign this issue to me.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/114308474-cce89800-9b01-11eb-88d2-304f70ae91c9.png)

[2021-04-11 14:46] satcasm opened #239 "Adding hover effect to the brand name"
Would like to add some sort of hovering effect on the brand name. Not sure if it is required at all, but have seen it in some sites and it looks pretty good.
Please assign it to me if seemed necessary under GSSOC' 21.
Thanks!

[2021-04-11 17:27] yasharth291 commented on #239
hey @satcasm  can you please put some photos or video to show this bug

[2021-04-11 19:20] satcasm commented on #239
@yasharth291 It's technically not a bug , just a proposal . Check this [out](https://codepen.io/caraujo/full/LVPzxO). I can make something like this on the brand name

[2021-04-11 19:28] yasharth291 commented on #239
okay i understood i am assigning you this just work on this and create a pr for the same good luck @satcasm

[2021-04-11 19:57] yasharth291 opened #240 "Adding a donation chart to take donations directly from websites"
@AdityaTeltia @LordShenron  this is just a discussion please put your ideas on this

[2021-04-11 20:07] yasharth291 commented on #236
okay work on it @RahulBansal0502

[2021-04-12 05:48] satcasm commented on #239
@yasharth291 I have created a PR , have a look at it.
Thanks!

[2021-04-12 11:23] RahulBansal0502 commented on #240
I want to work on this issue @yasharth291 @ArunTeltia @LordShenron

[2021-04-12 12:31] yasharth291 commented on #240
this is just discussion not a issue yet

[2021-04-12 12:32] RahulBansal0502 commented on #240
Ohh okay

[2021-04-12 14:02] RahulBansal0502 opened #244 "Alignment in Contact us page"
![image](https://user-images.githubusercontent.com/56486309/114406800-7349a180-9bc5-11eb-9123-160d59be0715.png)

If you see the above image properly then you find that the image of the mailbox is slightly below the card which is looking good but in the case of telegram and Twitter the icons touch the card boundary I want to work on this issue. @ArunTeltia @LordShenron @yasharth291

[2021-04-13 07:57] yasharth291 commented on #240
@LordShenron  @ArunTeltia

[2021-04-13 07:58] yasharth291 commented on #244
okay assigning you

[2021-04-13 08:01] Bhavya-Sehgal opened #245 "Make site responsive"
I want to make site responsive :

[GSSOC'21]

Some of the Screenshots:

![sak-1](https://user-images.githubusercontent.com/66208607/114517403-f289b480-9c5b-11eb-95d3-7fe8fd02a939.png)

![sak-2](https://user-images.githubusercontent.com/66208607/114517417-f3bae180-9c5b-11eb-8650-bdeaaf8a240e.png)
In the above image the second card i.e blog one is not aligned properly..

Please assign me this issue

[2021-04-13 11:26] LordShenron commented on #205
Well I redesigned the new download page.. So, now contributors can work on it.

[2021-04-13 11:26] #205 closed

[2021-04-13 11:31] #224 closed

[2021-04-13 11:32] LordShenron commented on #245
The website is already responsive it's just few issues that don't need too deep workarounds. Also Contributors section is getting removed soon.

[2021-04-13 11:33] #240 closed

[2021-04-13 11:33] LordShenron commented on #240
Not needed for us.

[2021-04-13 11:59] cryptofox17 opened #246 "Improving the alignment in footer in download.html"
The footer looks fine in phone view but the alignment could be improved for larger screen.
![Screenshot_20210413-172351442](https://user-images.githubusercontent.com/64403591/114548269-2cb77e00-9c7d-11eb-9504-d09c8a56615b.jpg)

### Describe the problem that you'd like solved
- the sponsor logo is much bigger than the website's logo
- the description of prSakura could be right below the logo
- Line

[2021-04-13 13:12] Bhavya-Sehgal commented on #245
okay, but the download section and contact us section are also not aligned properly  . Can I fix that?
@LordShenron

[2021-04-13 13:17] yasharth291 commented on #245
ok go ahead

[2021-04-13 13:18] yasharth291 commented on #246
okay go ahead

[2021-04-14 07:49] Rohan27s commented on #244
can i work on this issue?

[2021-04-14 07:53] RahulBansal0502 commented on #244
I am working on it @Rohan27s

[2021-04-14 08:24] Rohan27s commented on #244
okhay

[2021-04-14 09:18] arpit456jain commented on #180
@Kavs-123 are you working on this issue .
@ArunTeltia can i work ont this issue

[2021-04-14 09:24] arpit456jain opened #248 "[Gssoc'21] social media icons in footer"
I would like to add social media icons in footer of index.html

They will look some thing like this
<img width="286" alt="icons" src="https://user-images.githubusercontent.com/55352601/114687367-503c0080-9d31-11eb-98f2-fd4b534678d4.png">

### Proposal & Constraints

### Additional context

[2021-04-14 14:14] #245 closed

[2021-04-14 14:58] RahulBansal0502 opened #251 "Bug in contact us and Get Sakura page"
![image](https://user-images.githubusercontent.com/56486309/114732049-d7a06880-9d5f-11eb-8ff7-28071f442360.png)
![image](https://user-images.githubusercontent.com/56486309/114732102-e0913a00-9d5f-11eb-86d9-566d59180130.png)
I have recently seen this bug on this website Please see this it's so urgent @ArunTeltia @LordShenron @yasharth291 Assign it to me.

[2021-04-14 16:12] Kavs-123 commented on #180
@arpit456jain
Yes, I am working on this issue!

[2021-04-15 03:30] LordShenron commented on #251
Okay go ahead

[2021-04-15 10:37] #239 closed

[2021-04-15 10:38] LordShenron commented on #248
Invalid..

[2021-04-15 10:38] #248 closed

[2021-04-15 10:39] LordShenron commented on #238
Nah not needed.

[2021-04-15 10:39] #238 closed

[2021-04-15 10:39] #117 closed

[2021-04-15 10:40] LordShenron commented on #124
@ArunTeltia there is no progress on this issue.. we should close it down.

[2021-04-16 02:12] #246 closed

[2021-04-16 02:13] ArunTeltia commented on #116
@cryptofox17 can you remove those bootstrap files as well if you have time, we discussed and we came to conclusinon that we dont need those files

Delete every instance of css that are not being used in the project

[2021-04-16 02:14] #233 closed

[2021-04-16 02:15] ArunTeltia commented on #118
I dont think we need this anymore when contributor section will be build closing this issue

[2021-04-16 02:15] #118 closed

[2021-04-16 02:16] ArunTeltia commented on #124
@LordShenron I dont think either, we have many logos due to @cryptofox17 , and rebranding now is foolish closing this issue as well

[2021-04-16 02:16] #124 closed

[2021-04-16 02:17] ArunTeltia commented on #173
@tanishq-arya is there any progress

[2021-04-16 02:18] ArunTeltia commented on #179
Resolved Now we have new issues, closing for now

[2021-04-16 02:18] #179 closed

[2021-04-16 02:18] ArunTeltia commented on #180
Part of #116

[2021-04-16 02:19] ArunTeltia commented on #208
Is there any page that is remaining, if someone can inform that will be great otherwise will close this issue

[2021-04-16 02:20] ArunTeltia commented on #214
I dont think we need this after discussion @LordShenron
We dont want any more fancy work on the page
Closing it for that reason

[2021-04-16 02:20] #214 closed

[2021-04-16 02:21] ArunTeltia commented on #251
YUP PRIORITY VERY HIGH FOR THIS ONE

[2021-04-16 02:24] ArunTeltia commented on #236
Not sure if this is the type of footer we want, please have a look at download.html page
that footer is what we want in the  stats page have a look at this PR https://github.com/ProjectSakura/ProjectSakura.github.io/pull/252
If you want to work on it please tell me

[2021-04-16 02:25] ArunTeltia commented on #202
I dont think we require anything fancy after the board meeting we have for that reason i am closing this issue if you have worked on it @padmajabhol please reopen the issue and create a pr will figure something out

[2021-04-16 02:25] #202 closed

[2021-04-16 02:26] ArunTeltia commented on #230
https://github.com/ProjectSakura/ProjectSakura.github.io/pull/252
@smriti1313 please have a look at this footer this is the footer we want in stats page
and please also let me know the progress

[2021-04-16 03:41] tanishq-arya commented on #173
@ArunTeltia Sorry I had my exams so I wasn't able to work on this.

[2021-04-16 03:48] tanishq-arya commented on #208
Downloads page.
https://validator.w3.org/nu/?doc=https%3A%2F%2Fprojectsakura.xyz%2Fdownload.html
There are not many errors I'll try to make a PR by today.

[2021-04-16 03:59] cryptofox17 commented on #116
@ArunTeltia ok I'll do that

[2021-04-16 04:01] ArunTeltia commented on #116
Thank You so much @cryptofox17 🙌

[2021-04-16 04:02] ArunTeltia commented on #208
Yes That would be great @tanishq-arya lets just finish all the issues and work on something else, If you have any idea on react
Do you want to work on contributors section @tanishq-arya

[2021-04-16 04:04] ArunTeltia commented on #173
NO problem tanishq focus on your exam, I dont think anyone will be interested in this one please start working on sunday 🙌
I am just trying to close issues as many as i can so that we can move ahead HAHA

[2021-04-16 04:05] tanishq-arya commented on #208
Sure. I just started with React so I was thinking to get a grip on basics in 1-2 days then I can start working on the contributors section.

[2021-04-16 04:24] ArunTeltia commented on #208
Great so our main task would be to build contributors and wiki section
@vedikaag99 and @FireQueen-3010 are working on the contributors section
I will also start working on it

[2021-04-16 05:20] #208 closed

[2021-04-16 05:27] LordShenron commented on #173
Closing this for now.

[2021-04-16 05:27] #173 closed

[2021-04-16 05:27] #244 closed

[2021-04-16 05:29] LordShenron commented on #230
The footer on stats page looks fine enough. What's left to do on it? @ArunTeltia

[2021-04-16 05:33] RahulBansal0502 commented on #236
Ok I will do that @ArunTeltia

[2021-04-16 06:51] archanagandhi opened #255 "Preloader feature"
Hey @LordShenron , I would like to add a preloader to this website. Please assign this to me.
Thanks

[2021-04-16 06:58] ArunTeltia commented on #208
HOPE THIS IS CLOSED FOR GOOD

[2021-04-16 06:59] ArunTeltia commented on #255
I am not sure if we need preloader
tho i think it will be better to add a loader in stats page
@LordShenron need advice

[2021-04-16 07:11] ArunTeltia commented on #230
Not Sure I though it would look good with the download.html footer for now i am closing the issue as the creator of this issue  has asked me that she is having trouble with the timing

[2021-04-16 07:11] #230 closed

[2021-04-16 07:35] LordShenron commented on #255
It's not needed. We need to kill the ugly ass loader.

[2021-04-16 07:35] #255 closed

[2021-04-16 13:09] #116 closed

[2021-04-16 15:13] ArunTeltia commented on #236
So @RahulBansal0502 sorry to inform it to you but @LordShenron and I discussed and we came to conclusion that footer in all the pages looks good and we dont need any changes in it. Will award you level3 for the other Pr you did

[2021-04-16 15:19] ArunTeltia commented on #251
#258 after merge i am still having issues in my laptop can you check @RahulBansal0502

[2021-04-16 15:21] ArunTeltia commented on #180
Still many files have issues, thats why I am reopening it

[2021-04-16 15:23] LordShenron commented on #251
Try in incognito

[2021-04-16 15:37] RahulBansal0502 commented on #251
![image](https://user-images.githubusercontent.com/56486309/115048906-bbcfca80-9ef7-11eb-88d6-c57731220dd8.png)
Can you please check this I think because of this that happens? @ArunTeltia

[2021-04-16 15:44] RahulBansal0502 commented on #236
okay, then I will close this issue.

[2021-04-16 15:44] #236 closed

[2021-04-16 16:05] ArunTeltia commented on #251
No it is actually happening on the main website @RahulBansal0502

[2021-04-16 18:05] RahulBansal0502 commented on #180
I can work on this issue @ArunTeltia @LordShenron

[2021-04-16 18:23] RahulBansal0502 opened #261 "Wanted to applied animation in Contact section and Download section"
Wanted to apply animation to the above-mentioned sections. If a user hovers over the cards the below effect will be shown
![image](https://user-images.githubusercontent.com/56486309/115067655-da8d8b80-9f0e-11eb-9fa2-726d35a88213.png)
@ArunTeltia @LordShenron @yasharth291

[2021-04-16 18:55] yasharth291 commented on #261
assigning it to you

[2021-04-17 06:58] #251 closed

[2021-04-17 06:59] LordShenron commented on #180
I am closing this because we should do this ourself. It's a sensitive issue.

[2021-04-17 06:59] #180 closed

[2021-04-17 07:03] LordShenron commented on #261
It's invalid. @yasharth291 don't just allow anything without asking me or Arun.

[2021-04-17 07:03] #261 closed

[2021-04-18 06:16] shonali2600 opened #264 "Some device maintainers names re hidden behind scroll bar"
### Evidence / Screenshot (if possible)

![sakura](https://user-images.githubusercontent.com/57946528/115136138-63094a80-a03b-11eb-8f35-4f989ef4895e.png)

* Actual: There are so many device maintainers in the same row
* Expected: Some of the maintainers can be put in another row.

### Details

- **Browser type/version?**  Opera
- **Operating system?** Windows10

### Related files

[2021-04-18 06:17] shonali2600 commented on #264
Please assign it to me i would like to work on this

[2021-04-18 06:20] shonali2600 opened #265 "All the contributors haven't been added to the site."
There are only 3 contributor listed there, but total contributor are 19, I would like to add all of them, please try to assign me this

[2021-04-18 07:50] ArunTeltia commented on #265
Actually @shonali2600 we are creating the contributors section specially for our precious contributors there are many contributors that i have in mind that must be on that section(@vedikaag99  @RahulBansal0502) they are working effortlessly for us, if you have a little idea of react you can contribute to us on that website we will love to have your contribution there

Please close this issue after

[2021-04-18 07:51] ArunTeltia commented on #264
https://github.com/ProjectSakura/ProjectSakura.github.io/issues/265#issuecomment-821950030
refer this comment @shonali2600 :), this section will be deleted in 4-5 days tops

[2021-04-18 07:54] ArunTeltia commented on #265
https://github.com/ProjectSakura/contributors
here is the repo link if you wanna check

[2021-04-18 08:57] #265 closed

[2021-04-18 08:58] #264 closed

[2021-04-19 16:44] Samridhi-98 opened #266 "Update README with setup and contributing guidelines"
### Describe the problem that you'd like solved
README needs to be updated with the proper setup and contributing guidelines of the project.

### Proposal & Constraints

- [ ] Add project `setup` section in the `Readme.md`.
- [ ] Add `contribution.md` in the `Readme.md`.
- [ ] Enhance the UI also lil bit

[2021-04-19 16:45] Samridhi-98 commented on #266
@ArunTeltia  @LordShenron  I would like to work on it will you please assign it to me.

[2021-04-19 16:47] ArunTeltia commented on #266
I am not sure this is a big concern for us right now if you want, you can work on react projects which I can help you get started with

If you are interested ping me on the discord we can have a look on the issue for you :)

[2021-04-19 16:51] Samridhi-98 commented on #266
Will you please provide me the link of react the project?

[2021-04-20 13:28] ArunTeltia commented on #266
Closing this issue after we have meeting

[2021-04-20 13:28] #266 closed

[2021-04-20 15:05] LordShenron opened #270 "Uniformity with the footer in stats"
The footer in our landing and download page are very different. We want to design the footer in our landing page similar to the download page.

[2021-04-21 10:41] cryptofox17 commented on #270
Could I work on this?

[2021-04-21 11:01] ArunTeltia commented on #270
Yes @cryptofox17 assigned to you, Thank You

[2021-04-21 11:07] wajeehamushtaq opened #273 "Adding tech stack badges"
Hi, I am a GSSOC'21 participant I want to contribute to Project Sakura. Can I update the Readme file by adding tech stack badges

[2021-04-21 11:13] #273 closed

[2021-04-22 19:08] ArunTeltia commented on #270
Lets just do this for stats as well, we don't need this for blog this will make our whole website uniform

[2021-04-23 12:00] #270 closed

[2021-04-23 18:51] Bhavya-Sehgal opened #278 "Dark mode"
I want to add dark mode to website

Please assign me this issue @yasharth291 @LordShenron

[2021-04-23 18:53] Bhavya-Sehgal opened #279 "Scroll Top arrow"
I want to add scroll-top arrow to website that will allow the user to directly reach at the top of the page.

[GSSOC'21]

Please assign me this issue @LordShenron @yasharth291

[2021-04-23 19:04] ArunTeltia commented on #279
Go For it @Bhavya-Sehgal assigning this one to you

[2021-04-24 02:29] LordShenron commented on #278
Where? 😂 It's all dark already

[2021-04-24 05:35] Bhavya-Sehgal commented on #278
So I will make it light then😂
Switch between dark n light will be good.
@LordShenron

[2021-04-24 05:36] LordShenron commented on #278
I am not sure if that is what we want to do.. coz we have some pages written in javascript and they are all in dark mode. So, if you make some pages switch to light mode they will look odd.

[2021-04-24 05:42] Bhavya-Sehgal commented on #278
Okay!

[2021-04-24 08:08] pankaj892 opened #280 "Twitter Link"
@LordShenron On the website there is a twitter button but when the user clicks it redirects to the homepage and nothing happens.Do we need to add a twitter link if so I can add it.

[2021-04-24 08:09] LordShenron commented on #280
https://twitter.com/ProjectSakura_

add it if you want

[2021-04-24 08:10] #278 closed

[2021-04-24 08:41] #280 closed

[2021-04-24 10:05] RuchiGitHu opened #282 "Hover effect in feature and team section"
### Describe the problem that you'd like solved

I want to add Hover effect in feature section as well as team section so that the content of these sections will give good user experience as well as will look attractive and more readable.
### Proposal & Constraints

I will use coloured hover effect so that the website looks attractive and creative.

### Additional context

I can use 3D effect as w

[2021-04-24 10:06] RuchiGitHu commented on #282
Please assign this issue to me under gssoc21..
Looking forward to contribute here....

[2021-04-24 10:06] LordShenron commented on #282
@RuchiGitHu meh

[2021-04-24 10:25] RuchiGitHu commented on #282
Please let me what you said? I didn't understand....

[2021-04-24 10:53] ArunTeltia commented on #282
@RuchiGitHu , we dont want to make our website fancy, we want to make it simple and straight, if you find any other bugs than you can report on it but right now this is not an actual issue for us

[2021-04-24 16:02] ArunTeltia commented on #279
Closed by #283 , Thank you for contributing to project sakura @Bhavya-Sehgal

[2021-04-24 16:02] #279 closed

[2021-04-25 14:24] #282 closed

[2021-04-26 14:35] fatma-sia27 opened #284 "Adding contact us page"
Hey I think if contact us page would be added to your website then it would be awesome.
So if you think same then please assign me this issue.
Thank you

[2021-04-26 14:36] LordShenron commented on #284
@fatma-sia27 Sorry, we don't have any use of  a contact page. All the ways somebody can contact us already added on all pages of the website.

[2021-04-28 04:31] #284 closed

[2021-04-28 12:39] gayatri517 opened #285 "Sticky social media sidebar"
I want to add a sticky social media sidebar in the home page.
Please assign me this issue. Thanks

[2021-04-28 14:41] ArunTeltia commented on #285
Can you explain this issue please I am not sure I totally get what you are trying to do

[2021-04-28 14:55] gayatri517 commented on #285
![side](https://user-images.githubusercontent.com/70585276/116425209-c1b29d80-a85f-11eb-8e2e-971198d3c6e3.png)
I would like to add this in the homepage.

[2021-04-28 14:56] LordShenron commented on #285
Some useless to me

[2021-04-28 15:08] ArunTeltia commented on #285
I dont know looks good to me this will looks good on the index page

[2021-04-28 15:09] LordShenron commented on #285
@ArunTeltia noob

[2021-04-28 15:11] ArunTeltia commented on #285
YOu noob something at the right corner will looks cool, okay i decided he/she is working on it will merge it he/she gets point then revert if it looks boring to you

[2021-04-28 15:11] ArunTeltia commented on #285
@gayatri517 go ahead work on it, assigning this one to you

[2021-04-28 15:12] LordShenron commented on #285
@ArunTeltia Awwwww nooooo

[2021-04-28 15:13] ArunTeltia commented on #285
Message me on whatsapp

[2021-05-04 16:06] satcasm opened #287 "Scrollbar on the page"
Would like to add a scrollbar on the page if seemed necessary.
Thanks!

[2021-05-04 21:34] Furquan712 commented on #287
I would like to work on this, will you assign me?

[2021-05-05 20:07] Samridhi-98 opened #288 "Responsiveness to the blog in different viewport"
### Evidence / Screenshot (if possible)

![sakura-main](https://user-images.githubusercontent.com/54466041/117202228-34e18400-ae0b-11eb-841d-945f81bbb13e.PNG)

### Steps to Reproduce

1. Press F12
2. Select iPad from the device section.

[2021-05-05 20:07] Samridhi-98 commented on #288
@ArunTeltia  @LordShenron  I would like to work on it please assign it to me.

[2021-05-06 02:11] ArunTeltia commented on #288
Yup Lets work on this @Samridhi-98  go for it

[2021-05-06 02:12] ArunTeltia commented on #287
I dont think this is a valid issue in our website @LordShenron if you think this is valid issue then assign to @satcasm otherwise close it

[2021-05-06 09:26] #287 closed

[2021-05-07 07:30] #288 closed

[2021-05-07 12:28] ritik307 opened #290 "Adding light and dark mode toggler on blog site."
### Describe the problem that you'd like solved
The blog site is only available in dark mode.

### Proposal & Constraints

- [ ] Add dark/light mode toggler on `/blog.html`
- [ ] Add dark/light mode toggler on `/post/xyz.hmtl`(all the pages available on the post folder

[2021-05-07 12:29] ritik307 commented on #290
@LordShenron @ArunTeltia I would like to work on this issue Kindly assign

[2021-05-07 12:29] LordShenron commented on #290
@ritik307 website is already in completely dark mode, So a NO from me.

[2021-05-07 12:33] ritik307 commented on #290
@LordShenron The site does not have a light mode. That's why I said **toggler**.

[2021-05-07 12:36] LordShenron commented on #290
@ritik307 coz a light mode goes against the site guidelines

[2021-05-07 12:53] #290 closed

[2021-05-07 13:29] ritik307 opened #291 "Removing redundency from blogs"
### Describe the problem that you'd like solved

- Currently, `blogs.html` is having redundant code for every blog info card and there is an unnecessary `.html` file in the `posts` folder which could be handled in just a single file.
- The above makes it very difficult for the dev to add a new blog to the site.

### Proposal & Constraints

- [ ] Add `.json` file for holding every blog data.
- [ ]

[2021-05-07 13:30] ritik307 commented on #291
@LordShenron @ArunTeltia I would like to work on this issue so plz assign it to me.

[2021-05-07 13:31] LordShenron commented on #291
@ritik307 This sound very fascinating but it would take a huge amount of work and will be hard to review too.. plus there could be issues with adsense.

[2021-05-07 15:47] LordShenron commented on #291
You can do it "only" on blog.html. Go ahead with this issue, I am assigning it to you.

[2021-05-07 15:47] ritik307 commented on #291
@LordShenron sure!

[2021-05-08 12:06] ritik307 commented on #291
Hi @LordShenron
While working on this issue I have come up with two solutions:-

- Revamping the project as a node-based application (**Pros:** will be scale-able for future implementation+faster to build, **Cons:**-no GitHub deployment support.)

- Revamping the project as a React-based application (**Pros:** same as above+CAN be deployed on GitHub, **Cons:**-will take 2-3 days to work on)
Please

[2021-05-08 13:51] LordShenron commented on #291
@ritik307 there are some routing issues with react. Think you can really do it?

[2021-05-08 13:53] ritik307 commented on #291
@LordShenron what kind of routing issues you are talking about?

[2021-05-08 13:54] LordShenron commented on #291
@ritik307 Content security restrictions that we are plagued with on our wiki and download page. You can only route traffic to the index and trying to send traffic to a specific page will end up with 404.

[2021-05-08 14:01] LordShenron commented on #291
try visiting https://projectsakura.xyz/download/X00T
and see console logs

[2021-05-08 14:05] ritik307 commented on #291
![image](https://user-images.githubusercontent.com/22374829/117542040-7bfe8d80-b034-11eb-95d6-e08ae52294ed.png)
is this the issue you are referring to?

[2021-05-08 14:08] LordShenron commented on #291
looks like it;s getting cleaned up coz of our custom 404 page.
try visiting this page, you can see the issue -> https://projectsakura.xyz/wiki/install-sakura

[2021-05-08 14:10] ritik307 commented on #291
![image](https://user-images.githubusercontent.com/22374829/117542174-2eceeb80-b035-11eb-8ecb-2b05a5dd9c23.png)
Is this the issue?

[2021-05-08 14:15] LordShenron commented on #291
wiki is written in react but download is written in vue.. If you can fix it I will give you 1000billion points out of 100.

[2021-05-08 14:18] ritik307 commented on #291
@LordShenron I will surely be able to fix it on the `wiki` but for `download` I have to do some research and will try my best to fix it.

[2021-05-08 14:21] LordShenron commented on #291
Go ahead and i will hire you instead of @ArunTeltia  xD.. save your place @ArunTeltia bruu

[2021-05-08 14:23] ritik307 commented on #291
😂😂😂😂

[2021-05-08 14:47] ArunTeltia commented on #291
bruh F

[2021-05-09 08:16] Alenjojo opened #292 "Ad banners isn't properly displaced"
### Evidence / Screenshot (if possible)
![Capture](https://user-images.githubusercontent.com/51394913/117565028-e6630c80-b0cc-11eb-9ea7-d23a0c400ab2.PNG)

### Steps to Reproduce

1. Go to the home page
2. The three banners aren't properly positioned

* Actual: I assume i can rearrange the banners into their respective position, so that it would produce a good user interface.
* Expected:

[2021-05-09 14:18] AshuKV commented on #292
Hi I am a GSSOC'21 participant. I want to work on this issue under GSSoC'21. Can you please assign it to me?

[2021-05-10 07:49] ShrutiKhatri826 commented on #292
I would like to contribute to this issue as a GSSOC'21 participant. Please assign it to me, hoping for a positive reply soon.

[2021-05-10 09:52] LordShenron commented on #292
You three come to a decision of who should do it.

[2021-05-10 18:02] Alenjojo commented on #292
I brought up the issue, so it would be much easier if you could assign it to me

[2021-05-11 11:39] Alenjojo opened #294 "Scrollbar in Firefox"
### Evidence / Screenshot (if possible)

### Steps to Reproduce

1. Go to Firefox browser
2. Check the scrollbar

* Actual:  For chrome the scroll bar have been remove, but not for firefox
* Expected:

### Details

- **Firefox**
- **Window 10**

### Proposal & Constraints

Firefox has different syntax, so i will add that so that both would look the same

[2021-05-11 11:39] Alenjojo commented on #294
So if you assign me with this issue i'll fix it up

[2021-05-12 09:11] #292 closed

[2021-05-14 10:21] #285 closed

[2021-05-14 10:53] #294 closed

[2021-05-18 18:23] ritik307 opened #297 "UI Improvement"
### Evidence / Screenshot (if possible)

### Steps to Reproduce

1. Go to `https://projectsakura.xyz/`

* **Actual:** The colour of the navbar doesn't match the overall theme of the site
* **Expected:** The colo should be the same as the footer.
![image](https://user-images.githubusercontent.com/22374829/118703296-9229fc00-b833-11eb-88e5-9dd152ad1708.png)

* **Actual:** The footer button's colour

[2021-05-18 18:25] ritik307 commented on #297
@LordShenron @ArunTeltia Plz assign.

[2021-05-19 04:07] LordShenron commented on #297
good to go

[2021-05-19 11:14] #297 closed

[2021-05-20 19:57] sahilempire opened #299 "Team UI enhancement"
### Describe the problem that you'd like solved
Currently, the team section is very dull and without any UI touch, I want to enhance this section according to the website.

### Proposal & Constraints
I will change UI of this section.

[2021-05-20 20:01] sahilempire commented on #299
@yasharth291 I have created this new issue, please assign me under GSSoC.

Thank you.

[2021-06-04 22:48] ArunTeltia commented on #291
I think we can close this, closing it for now

[2021-06-04 22:48] #291 closed

[2021-06-06 06:48] #299 closed

[2021-06-26 11:48] rbattiato opened #305 "Hero image is stretching"
Hi! I'm new to open source, I'm sorry if I'm doing something wrong.
I see the hero phone image is stretching on desktop, because both image width and height have been set.
I've cloned the repo, created a new branch `fix/hero` and applied a fix that works on [modern browsers](https://caniuse.com/?search=object-fit). However I don't have the permission to push my branch and then open a PR.

What sho

[2021-06-26 11:51] LordShenron commented on #305
Fork this repo and then push your changes to it. After that create a pull request and we will review it.

References in case you need some:
https://docs.github.com/en/get-started/quickstart/fork-a-repo

https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

[2021-06-26 11:53] ArunTeltia commented on #305
Hello @rbattiato welcome to project sakura community,
Yes I just checked this and this is a valid issue,

As @LordShenron said you can start by forking this repo and then can create a pull request to the main repo and then you can start contributing to the open source

Let me, @LordShenron or @ritik307  know if you have any issues regarding creating an PR , we will try our best to help you

Happy

[2021-06-26 13:05] rbattiato commented on #305
Thank you! All done.

[2021-06-26 13:18] #305 closed